/*
 * Device Tree Source for the R8A7790-stout-full board
 *
 * Copyright (C) 2015 Renesas Electronics Europe GmbH
 * Copyright (C) 2015 Renesas Electronics Corporation
 * Copyright (C) 2015 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a7790.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "R8A7790-stout-full";
	compatible = "renesas,r8a7790stout-full", "renesas,r8a7790";

	aliases {
		serial0 = &scifa0;
		serial1 = &scifa1;
		serial2 = &scifa2;
		serial9 = &hscif1;
	};

	chosen {
		bootargs = "dom0_mem=1G console=dtuart dtuart=serial0 dom0_vcpus_pin hmp-unsafe=true dom0_max_vcpus=8 bootscrub=0 loglvl=all";
		/* Uncomment this when using nfs as a boot device */
		xen,dom0-bootargs = "console=hvc0 ignore_loglevel rw root=/dev/nfs nfsroot=192.168.1.100:/srv/stout,nfsvers=3 ip=192.168.1.10:192.168.1.100::255.255.255.0:stout:eth1::: vmalloc=256M clk_ignore_unused apmu=multicluster";
		/* Uncomment this when using block device as a boot device */
		/* xen,dom0-bootargs = "console=hvc0 ignore_loglevel rw root=/dev/mmcblk0p1 rootfstype=ext3 rootwait vmalloc=256M clk_ignore_unused apmu=multicluster"; */

		modules {
			#address-cells = <2>;
			#size-cells = <2>;
			module@1 {
				compatible = "xen,linux-zimage", "xen,multiboot-module";
				reg = <0x0 0x72000000 0x0 0x02000000>;
			};
			module@2 {
				compatible = "xen,xsm-policy", "xen,multiboot-module";
				reg = <0x0 0x74000000 0x0 0x10000>;
			};
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x40000000>;
	};

	memory@200000000 {
		device_type = "memory";
		reg = <2 0x00000000 0 0x40000000>;
	};

	dummy_mmios {
		reg = <0 0xe6160000 0 0x100>,   /* RST */
			  <0 0xe6180000 0 0x200>,   /* SYSC */
			  <0 0xe6080000 0 0x1000>,  /* arch timer */
			  <0 0xe6151000 0 0x188>,   /* APMU */
			  <0 0xe6152000 0 0x188>,
			  <0 0xe63a0000 0 0x12000>, /* ICRAM0 */
			  <0 0xe63c0000 0 0x1000>,  /* ICRAM1 */
			  <0 0xe6700000 0 0x20000>, /* DMAC0 */
			  <0 0xe6720000 0 0x20000>, /* DMAC1 */
			  <0 0xff000044 0 0x4>,     /* PRR */
			  <0 0xe6ef0000 0 0x1000>,  /* VIN0 */
			  <0 0xe6ef1000 0 0x1000>,  /* VIN1 */
			  <0 0xe6ef2000 0 0x1000>,  /* VIN2 */
			  <0 0xe6ef3000 0 0x1000>,  /* VIN3 */
			  <0 0xfe920000 0 0x8000>,  /* VSPR */
			  <0 0xfe928000 0 0x8000>,  /* VSPS */
			  <0 0xfe930000 0 0x8000>,  /* VSPD0 */
			  <0 0xfe938000 0 0x8000>,  /* VSPD1 */
			  <0 0xfeb00000 0 0x70000>, /* DU */
			  <0 0xfeb90000 0 0x1c>,
			  <0 0xfeb94000 0 0x1c>,
			  <0 0xfd000000 0 0x10000>, /* 3DG */
			  <0 0xfea00000 0 0xb0000>, /* 2D-DMAC */
			  <0 0xf0090000 0 0x8000>;  /* CCI */
	};

	dummy_irqs {
		interrupts = <0 107 IRQ_TYPE_LEVEL_HIGH>, /* HSUSB */
					 <0 188 IRQ_TYPE_LEVEL_HIGH>, /* VIN0 */
					 <0 189 IRQ_TYPE_LEVEL_HIGH>, /* VIN1 */
					 <0 190 IRQ_TYPE_LEVEL_HIGH>, /* VIN2 */
					 <0 191 IRQ_TYPE_LEVEL_HIGH>, /* VIN3 */
					 <0 119 IRQ_TYPE_LEVEL_HIGH>, /* 3DG */
					 <0 246 IRQ_TYPE_LEVEL_HIGH>, /* VSPD0 */
					 <0 247 IRQ_TYPE_LEVEL_HIGH>, /* VSPD1 */
					 <0 256 IRQ_TYPE_LEVEL_HIGH>, /* DU */
					 <0 268 IRQ_TYPE_LEVEL_HIGH>,
					 <0 269 IRQ_TYPE_LEVEL_HIGH>,
					 <0 258 IRQ_TYPE_LEVEL_HIGH>, /* VCP3_VLC ch.0 */
					 <0 259 IRQ_TYPE_LEVEL_HIGH>, /* VCP3_CE ch.0 */
					 <0 260 IRQ_TYPE_LEVEL_HIGH>, /* VCP3_VLC ch.1 */
					 <0 261 IRQ_TYPE_LEVEL_HIGH>, /* VCP3_CE ch.1 */
					 <0 262 IRQ_TYPE_LEVEL_HIGH>, /* FDP1 ch.0 */
					 <0 263 IRQ_TYPE_LEVEL_HIGH>, /* FDP1 ch.1 */
					 <0 264 IRQ_TYPE_LEVEL_HIGH>, /* FDP1 ch.2 */
					 <0 266 IRQ_TYPE_LEVEL_HIGH>, /* VSPR */
					 <0 267 IRQ_TYPE_LEVEL_HIGH>, /* VSPS */
					 <0 285 IRQ_TYPE_LEVEL_HIGH>, /* 2D-DMAC */
					 <0 197 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 200 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 201 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 202 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 203 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 204 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 205 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 206 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 207 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 208 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 209 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 210 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 211 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 212 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 213 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 214 IRQ_TYPE_LEVEL_HIGH>, /* DMAC0 */
					 <0 216 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 217 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 218 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 219 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 220 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 308 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 309 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 310 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 311 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 312 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 313 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 314 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 315 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 316 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 317 IRQ_TYPE_LEVEL_HIGH>, /* DMAC1 */
					 <0 318 IRQ_TYPE_LEVEL_HIGH>; /* DMAC1 */
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		button@1 {
			linux,code = <KEY_1>;
			label = "SW3-1";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
		};
		button@2 {
			linux,code = <KEY_2>;
			label = "SW3-2";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		};
		button@3 {
			linux,code = <KEY_3>;
			label = "SW3-3";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		};
		button@4 {
			linux,code = <KEY_4>;
			label = "SW3-4";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		};
		button@5 {
			linux,code = <KEY_5>;
			label = "SW3-5";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
		};
		button@6 {
			linux,code = <KEY_6>;
			label = "SW3-6";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		};
		button@7 {
			linux,code = <KEY_7>;
			label = "SW3-7";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		};
		button@8 {
			linux,code = <KEY_8>;
			label = "SW3-8";
			gpio-key,wakeup;
			debounce-interval = <20>;
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led1 {
			gpios = <&gpio4 22 GPIO_ACTIVE_LOW>;
		};
		led2 {
			gpios = <&gpio4 23 GPIO_ACTIVE_LOW>;
		};
		led3 {
			gpios = <&gpio5 17 GPIO_ACTIVE_LOW>;
		};
		led5 {
			gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
		};
	};

	vcc_sdhi0: regulator@1 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio5 24 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhi0: regulator@2 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio3 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc_sdhi2: regulator@3 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI2 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio5 25 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhi2: regulator@4 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI2 VccQ";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio3 29 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	hdmi_transmitter: adv7511 {
		compatible = "adi,adv7511";
		gpios = <&gpio1 23 GPIO_ACTIVE_LOW>;

		adi,reg = <0x39>;
		adi,input-style = <0x02>;
		adi,input-id = <0x00>;
		adi,input-color-depth = <0x03>;
		adi,sync-pulse = <0x03>;
		adi,bit-justification = <0x01>;
		adi,up-conversion = <0x00>;
		adi,timing-generation-sequence = <0x00>;
		adi,vsync-polarity = <0x02>;
		adi,hsync-polarity = <0x02>;
		adi,clock-delay = <0x03>;
	};

	cpld_access: cpld {
		compatible = "pinmux-cpld-access";

		pinmux-cpld-access,sclk-gpio = <&gpio3 24 GPIO_ACTIVE_HIGH>;
		pinmux-cpld-access,sstbz-gpio = <&gpio3 25 GPIO_ACTIVE_HIGH>;
		pinmux-cpld-access,mosi-gpio = <&gpio3 26 GPIO_ACTIVE_HIGH>;
		pinmux-cpld-access,miso-gpio = <&gpio3 27 GPIO_ACTIVE_HIGH>;
	};

	cpld_mux1: mux@1 {
		compatible = "pinmux-cpld";
		pinctrl-names = "vin0_bt656_state", "vin0_bt601_state", "sdhi2_state";
		pinctrl-0 = <&vin0_bt656_pins>;
		pinctrl-1 = <&vin0_bt601_pins>;
		pinctrl-2 = <&sdhi2_pins>;

		cpldmux-0 = <0x1001 0x0>; /* mask val */
		cpldmux-1 = <0x1007 0x2>;
		cpldmux-2 = <0x1001 0x1000>;
	};

	cpld_mux2: mux@2 {
		compatible = "pinmux-cpld";
		pinctrl-names = "vin1_bt656_state", "vin1_bt601_state", "sdhi0_state";
		pinctrl-0 = <&vin1_bt656_pins &i2c1_pins>;
		pinctrl-1 = <&vin1_bt601_pins>;
		pinctrl-2 = <&sdhi0_pins &i2c1_pins>;

		cpldmux-0 = <0x861 0x860>; /* mask val */
		cpldmux-1 = <0x821 0x800>;
		cpldmux-2 = <0x861 0x60>;
	};

	cpld_mux3: mux@3 {
		compatible = "pinmux-cpld";
		pinctrl-names = "vin2_bt656_state", "vin2_bt601_state", "avb_state";
		pinctrl-0 = <&vin2_bt656_pins &scifa0_pins>;
		pinctrl-1 = <&vin2_bt601_pins>;
		pinctrl-2 = <&avb_pins &scifa0_pins>;

		cpldmux-0 = <0x4087 0x4006>; /* mask val */
		cpldmux-1 = <0xa7 0x86>;
		cpldmux-2 = <0x4083 0x4000>;
	};

	cpld_mux4: mux@4 {
		compatible = "pinmux-cpld";
		pinctrl-names = "vin3_bt656_state", "vin3_bt601_state", "irq3_state";
		pinctrl-0 = <&vin3_bt656_pins>;
		pinctrl-1 = <&vin3_bt601_pins>;
		pinctrl-2 = <>;

		cpldmux-0 = <0x101 0x100>; /* mask val */
		cpldmux-1 = <0x161 0x120>;
		cpldmux-2 = <0x101 0x0>;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&pfc {
	pinctrl-0 = <&du_pins &du0_pins &usb0_pins &usb1_pins &usb2_pins>;
	pinctrl-names = "default";

	du_pins: du {
		renesas,groups = "du_rgb888", "du_sync_1", "du_clk_out_0";
		renesas,function = "du";
	};

	du0_pins: du0 {
		renesas,groups = "du0_clk_in";
		renesas,function = "du0";
	};

	scifa0_pins: serial0 {
		renesas,groups = "scifa0_data_b", "scifa0_clk_b";
		renesas,function = "scifa0";
	};

	scifa1_pins: serial1 {
		renesas,groups = "scifa1_data_b", "scifa1_clk_b";
		renesas,function = "scifa1";
	};

	scifa2_pins: serial2 {
		renesas,groups = "scifa2_data_c", "scifa2_clk_c";
		renesas,function = "scifa2";
	};

	hscif1_pins: serial9 {
		renesas,groups = "hscif1_data_b", "hscif1_clk_b";
		renesas,function = "hscif1";
	};

	ether_pins: ether {
		renesas,groups = "eth_link", "eth_mdio", "eth_rmii";
		renesas,function = "eth";
	};

	phy1_pins: phy1 {
		renesas,groups = "intc_irq1";
		renesas,function = "intc";
	};

	avb_pins: avb {
		renesas,groups = "avb_link", "avb_mdio", "avb_gmii";
		renesas,function = "avb";
	};

	sdhi0_pins: sd0 {
		renesas,groups = "sdhi0_data4", "sdhi0_ctrl", "sdhi0_cd";
		renesas,function = "sdhi0";
	};

	sdhi2_pins: sd2 {
		renesas,groups = "sdhi2_data4", "sdhi2_ctrl", "sdhi2_cd";
		renesas,function = "sdhi2";
	};

	qspi_pins: spi0 {
		renesas,groups = "qspi_ctrl", "qspi_data4";
		renesas,function = "qspi";
	};

	msiof1_pins: spi2 {
		renesas,groups = "msiof1_clk", "msiof1_sync", "msiof1_rx",
				 "msiof1_tx", "msiof1_ss1", "msiof1_ss2";
		renesas,function = "msiof1";
	};

	msiof2_pins: spi3 {
		renesas,groups = "msiof2_clk", "msiof2_sync", "msiof2_rx",
				 "msiof2_tx", "msiof2_ss1", "msiof2_ss2";
		renesas,function = "msiof2";
	};

	i2c0_pins: i2c0 {
		renesas,groups = "i2c0";
		renesas,function = "i2c0";
	};

	i2c1_pins: i2c1 {
		renesas,groups = "i2c1";
		renesas,function = "i2c1";
	};

	i2c2_pins: i2c2 {
		renesas,groups = "i2c2_b";
		renesas,function = "i2c2";
	};

	iic3_pins: iic3 {
		renesas,groups = "iic3";
		renesas,function = "iic3";
	};

	vin0_bt656_pins: vin0 {
		renesas,groups = "vin0_b_data8", "vin0_clk_b";
		renesas,function = "vin0";
	};

	vin0_bt601_pins: vin0_sync {
		renesas,groups = "vin0_b_data10", "vin0_sync_b", "vin0_clk_b";
		renesas,function = "vin0";
	};

	vin1_bt656_pins: vin1 {
		renesas,groups = "vin1_b_data8", "vin1_clk_b";
		renesas,function = "vin1";
	};

	vin1_bt601_pins: vin1_sync {
		renesas,groups = "vin1_b_data10", "vin1_sync_b", "vin1_clk_b";
		renesas,function = "vin1";
	};

	vin2_bt656_pins: vin2 {
		renesas,groups = "vin2_data8", "vin2_clk";
		renesas,function = "vin2";
	};

	vin2_bt601_pins: vin2_sync {
		renesas,groups = "vin2_data8", "vin2_sync", "vin2_clk";
		renesas,function = "vin2";
	};

	vin3_bt656_pins: vin3 {
		renesas,groups = "vin3_data8", "vin3_clk";
		renesas,function = "vin3";
	};

	vin3_bt601_pins: vin3_sync {
		renesas,groups = "vin3_data8", "vin3_sync", "vin3_clk";
		renesas,function = "vin3";
	};

	usb0_pins: usb0 {
		renesas,groups = "usb0", "usb0_ovc_vbus";
		renesas,function = "usb0";
	};

	usb1_pins: usb1 {
		renesas,groups = "usb1";
		renesas,function = "usb1";
	};

	usb2_pins: usb2 {
		renesas,groups = "usb2";
		renesas,function = "usb2";
	};

	can0_pins: can0 {
		renesas,groups = "can0_data_b";
		renesas,function = "can0";
	};

	can1_pins: can1 {
		renesas,groups = "can1_data_b";
		renesas,function = "can1";
	};

	pwm0_pins: pwm0 {
		renesas,groups = "pwm0";
		renesas,function = "pwm0";
	};

	pwm1_pins: pwm1 {
		renesas,groups = "pwm1";
		renesas,function = "pwm1";
	};

	pwm2_pins: pwm2 {
		renesas,groups = "pwm2";
		renesas,function = "pwm2";
	};

	pwm3_pins: pwm3 {
		renesas,groups = "pwm3";
		renesas,function = "pwm3";
	};

	pwm4_pins: pwm4 {
		renesas,groups = "pwm4";
		renesas,function = "pwm4";
	};
};

&ether {
	pinctrl-0 = <&ether_pins &phy1_pins>;
	pinctrl-names = "default";

	phy-handle = <&phy1>;
	renesas,ether-link-active-low;
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&irqc0>;
		interrupts = <1 IRQ_TYPE_LEVEL_LOW>;
		micrel,led-mode = <1>;
	};
};

&avb {
/*
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
*/

	renesas,no-ether-link;
	renesas,phy = <4>;
	renesas,phy_alt = <0>;
	phy-int-gpio = <&gpio2 15 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&qspi {
	pinctrl-0 = <&qspi_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s";
		reg = <0>;
		spi-max-frequency = <30000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
		spi-cpol;
		spi-cpha;

		partition@0 {
			label = "loader";
			reg = <0x00000000 0x00080000>;
			read-only;
		};
		partition@40000 {
			label = "user";
			reg = <0x00080000 0x00580000>;
			read-only;
		};
		partition@440000 {
			label = "flash";
			reg = <0x00600000 0x03a00000>;
		};
	};
};

&msiof1 {
	pinctrl-0 = <&msiof1_pins>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpio4 9 0>;
};

&msiof2 {
	pinctrl-0 = <&msiof2_pins>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpio0 26 0>;
};

&scifa0 {
/*
	pinctrl-0 = <&scifa0_pins>;
	pinctrl-names = "default";
*/

	/delete-property/clocks;

	status = "okay";
};

&scifa1 {
	pinctrl-0 = <&scifa1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&scifa2 {
	pinctrl-0 = <&scifa2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sdhi0 {
/*
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-names = "default";
*/

	vmmc-supply = <&vcc_sdhi0>;
	vqmmc-supply = <&vccq_sdhi0>;
	status = "okay";
};

&sdhi2 {
/*
	pinctrl-0 = <&sdhi2_pins>;
	pinctrl-names = "default";
*/

	vmmc-supply = <&vcc_sdhi2>;
	vqmmc-supply = <&vccq_sdhi2>;
	status = "okay";
};

&cpu0 {
	cpu0-supply = <&vdd_dvfs>;
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	clock-frequency = <400000>;
	status = "okay";
};

&i2c1 {
/*
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
*/

	clock-frequency = <400000>;
	status = "okay";

	at24@50 {
		compatible = "at24,24c16";
		pagesize = <16>;
		reg = <0x50>;
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

	clock-frequency = <400000>;
	status = "okay";

	at24@50 {
		compatible = "at24,24c16";
		pagesize = <16>;
		reg = <0x50>;
	};
};

&iic3 {
	pinctrl-0 = <&iic3_pins>;
	pinctrl-names = "default";
	status = "okay";

	pmic@58 {
		compatible = "dlg,da9063";
		reg = <0x58>;
		interrupt-parent = <&irqc0>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			vddcore_reg: bcores-merged {
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
			};

			vdd_ddr3_reg: bpro {
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-always-on;
			};

			vdd_3v3_reg: bperi {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};


			vdd_buckmem_reg: bmem-bio-merged {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vcc_1v8_iso: ldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};

			vcc_3v3_sd0: ldo3 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vcc_3v3_sd2: ldo4 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vcc_3v3_io: ldo5 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vcc_1v8_io: ldo7 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};

			vdd_rgmii_io: ldo11 {
				regulator-min-microvolt = <2650000>;
				regulator-max-microvolt = <2650000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};

		rtc {
			compatible = "dlg,da9063-rtc";
		};

		wdt {
			compatible = "dlg,da9063-watchdog";
		};
	};

	vdd_dvfs: regulator@68 {
		compatible = "diasemi,da9210";
		reg = <0x68>;

		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&usbphy {
	status = "okay";
};

&xhci {
	status = "okay";
};

&pci0 {
	pinctrl-0 = <&usb0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pci1 {
	pinctrl-0 = <&usb1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pci2 {
	pinctrl-0 = <&usb2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pcie_bus_clk {
	status = "okay";
};

&pciec {
	/*status = "okay";*/
};

&can0 {
	pinctrl-0 = <&can0_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

/*
&pwm0 {
	pinctrl-0 = <&pwm0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm1 {
	pinctrl-0 = <&pwm1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm2 {
	pinctrl-0 = <&pwm2_pins>;
	pinctrl-names = "default";
	status = "okay";
};
*/

&pwm3 {
	pinctrl-0 = <&pwm3_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm4 {
	pinctrl-0 = <&pwm4_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sata1 {
	status = "okay";
};
